/* Déclaration des variables globales */
:root {
    --primary-color: #007bff;
    --secondary-color: #f8f9fa;
    --valider-color: #28a745;
    --valider-hover-color: #218838;
    --annuler-color: #dc3545;
    --annuler-hover-color: #c82333;
    --text-color: #333;
    --background-color: white;
    --asso-border-radius: 15px;
    --banner-height: 200px;
    --logo-page-asso-size: 130px;
    --container-width: 900px;
    --asso-padding: 25px;
    --asso-logo-border-size: 6px;
    --asso-margin-button-admin: 10px;

    /*icon photo modifier*/
    --asso-margin-photo-modifier: calc(var(--banner-height) * 0.05);

    /**/
    --asso-bloc-background: hsl(0, 0%, 100%);
    --asso-bloc-radius: 15px;
    --asso-bloc-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    --asso-bloc-border: 0px solid var(--global-style-secondary-color);

    /*membres de l'asso*/
    --asso-members-transition-duration: 0.2s;
    --asso-members-scale-factor: 1.05;
    --asso-members-spacing-medium: 20px;
    --asso-members-spacing-small: 10px;
    --asso-members-spacing-extra-small: 5px;

}

/* Conteneur principal de l'association */
.asso-container {
    position: relative;
}

/* Bannière */
.asso-banner {
    width: 100%;
    height: var(--banner-height);
    background-size: cover;
    background-position: center;
    border-top-left-radius: var(--asso-border-radius);
    border-top-right-radius: var(--asso-border-radius);
    overflow: hidden;
    /* Empêche l'overlay de dépasser */
}

.asso-overlay-banner {
    position: absolute;
    height: var(--banner-height);
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: var(--asso-border-radius);
    border-top-right-radius: var(--asso-border-radius);
}

#asso-add-photo-banner {
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--asso-margin-photo-modifier);
    z-index: 1;
    height: calc(var(--banner-height) * 0.3);
    cursor: pointer;
}

#asso-add-photo-banner:hover {
    opacity: 1;
}

/* Logo de l'association */
.asso-logo {
    position: absolute;
    top: calc(var(--banner-height) - var(--logo-page-asso-size) * 0.6);
    left: calc(var(--logo-page-asso-size) * 0.2);
    width: var(--logo-page-asso-size);
    height: var(--logo-page-asso-size);
    border-radius: var(--asso-border-radius);
    border: var(--asso-logo-border-size) solid var(--background-color);
    background-color: var(--secondary-color);
    object-fit: cover
}

.asso-overlay-profilpic {
    position: absolute;
    top: calc(var(--banner-height) - var(--logo-page-asso-size) * 0.6);
    left: calc(var(--logo-page-asso-size) * 0.2);
    width: var(--logo-page-asso-size);
    height: var(--logo-page-asso-size);
    border-radius: var(--asso-border-radius);
    border: var(--asso-logo-border-size) solid var(--background-color);
    background-color: rgba(0, 0, 0, 0.5);

}

#asso-add-photo-profilpic {
    position: absolute;
    top: calc(var(--logo-page-asso-size)/3.6 + var(--banner-height) - var(--logo-page-asso-size) * 0.6);
    left: calc(var(--logo-page-asso-size)/3.3 + var(--logo-page-asso-size) * 0.2);
    width: calc(var(--logo-page-asso-size) * 0.5);
    height: calc(var(--logo-page-asso-size) * 0.5);
    cursor: pointer;
    opacity: 0.6;
}

#asso-add-photo-profilpic:hover {
    opacity: 1;
}


/* Infos principales */
.asso-infos-principales {
    display: flex;
    align-items: center;
}

.asso-nom {
    margin-left: calc(var(--logo-page-asso-size) * 1.5);
    margin-right: calc(var(--logo-page-asso-size) * 0.5);
}

.asso-admin {
    gap: var(--asso-padding);
    display: flex;
}


/* description, etc */


.asso-info {
    margin-top: calc(var(--logo-page-asso-size) / 2 + var(--asso-padding));
    /* Ajustement dynamique */
    text-align: left;
    padding: 0 var(--asso-padding);
}

.asso-info h2 {
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.asso-info p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

/* Menu de navigation */

.asso-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--secondary-color);
}

.asso-tab {
    padding: 10px var(--asso-padding);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    transition: color 0.3s, border-bottom 0.3s;
}

.asso-tab:hover,
.asso-tab.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.asso-tab-content {
    padding-top: calc(var(--asso-padding)/2);
    padding-left: var(--asso-padding);
    padding-bottom: var(--asso-padding);
    padding-right: var(--asso-padding);
}

.asso-bloc-interne {
    padding: var(--asso-padding);
    background-color: var(--asso-bloc-background);
    border-radius: var(--asso-bloc-radius);
    box-shadow: var(--asso-bloc-shadow);
    border: var(--asso-bloc-border);

}

/* menu des membres */

.asso-membres {
    display: flex;
    flex-direction: column;
}

.asso-membres-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--asso-members-spacing-medium);
    justify-content: center;
}

.asso-membres-item {
    background-color: var(--secondary-color);
    border-radius: var(--asso-border-radius);
    text-align: center;
    box-shadow: var(--asso-bloc-shadow);
    transition: transform var(--asso-members-transition-duration) ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: var(--asso-members-spacing-small);
}

.asso-membres-item:hover {
    transform: scale(var(--asso-members-scale-factor));
}

.asso-membres-photo {
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.asso-membres-photo-plus {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.asso-membres-name {
    font-weight: bold;
    margin: 0;
}

.asso-membres-label {
    color: var(--text-color);
    font-size: 0.9em;
    margin-bottom: 5px;
}

.asso-newmember-selector {
    margin-bottom: 5px;
}

.asso-membres-role {
    color: var(--text-color);
    font-style: italic;
    font-size: 0.9em;
    margin: 0;
}

.asso-membres-input {
    color: var(--text-color);
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: var(--asso-members-spacing-extra-small);
    max-width: 100%;
}

.button-gestion-membres {
    margin-bottom: calc(var(--asso-padding)/2);
    align-self: flex-end;
    --asso-button-text-size: 15px;
    font-size: var(--asso-button-text-size);
    border-radius: 4px;
    padding: 8px;
    gap: 3px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
    background-color: var(--global-style-secondary-color);
}

.button-gestion-membres p {
    margin: 0;
}

.button-gestion-membres:hover {
    background-color: var(--global-style-primary-color);
    /* Change la couleur de fond au survol */
    transform: scale(1.05);
}

.member-image-holder {
    position: relative;
}

.button-suppression-membre {
    display: flex;
    position: absolute;
    right: 0;
    padding: 2px;
    background-color: darkgray;
    border-radius: 4px;
}

.button-suppression-membre:hover {
    background-color: gray;
}

.button-modification-role {
    display: flex;
    position: absolute;
    left: 0;
    padding: 2px;
    background-color: darkgray;
    border-radius: 4px;
}

.button-modification-role:hover {
    background-color: gray;
}

/* contenu de la page */
/* boutton */
.asso-button {
    --asso-button-text-size: 15px;
    font-size: var(--asso-button-text-size);
    border-radius: 4px;
    padding: 8px;
    gap: 3px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
    background-color: var(--global-style-secondary-color);
}

.asso-button:hover {
    background-color: var(--global-style-primary-color);
    /* Change la couleur de fond au survol */
    transform: scale(1.05);
}

.asso-button p {
    margin: 0;
}

.asso-button-icon {
    width: var(--asso-button-text-size);
}

/* description */
.asso-titre-description {
    display: flex;
    align-items: center;
}

#asso-description-button {
    position: absolute;
    right: 0;
    margin-right: var(--asso-padding);
}

.valider-holder {
    margin-top: var(--asso-members-spacing-medium);
    display: flex;
    gap: 15px;
}

.valider-button {
    --button-text-size: 15px;
    font-size: var(--button-text-size);
    border-radius: 4px;
    padding: 8px;
    gap: 3px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
    background-color: var(--valider-color);
}

.valider-button:hover {
    background-color: var(--valider-hover-color);
    /* Change la couleur de fond au survol */
    transform: scale(1.05);
}

.valider-button p {
    margin: 0;
}

.valider-button img {
    width: var(--button-text-size);
}


.annuler-button {
    --button-text-size: 15px;
    font-size: var(--button-text-size);
    border-radius: 4px;
    padding: 8px;
    gap: 3px;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
    background-color: var(--annuler-color);
}

.annuler-button:hover {
    background-color: var(--annuler-hover-color);
    /* Change la couleur de fond au survol */
    transform: scale(1.05);
}

.annuler-button p {
    margin: 0;
}

.annuler-button img {
    width: var(--button-text-size);
}