
// Import Bootstrap functions and variables to override them
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.global-header-header {
    background-color: $black;
    color: $white;
    padding: 10px 20px;
    height: 60px;

    h1 {
        font-size: 24px;
        margin: 0;
        color: $white;
    }
}
