/* Déclaration des variables globales */
:root {
  --global-style-primary-color: #000000; /* Couleur du header (noir) */
  --global-style-secondary-color: #035BA2;
  --global-style-background-color: #f5f5f5; /* Fond de la page */
  --global-style-sidebar-background: transparent; /* Sidebar invisible */
  --global-style-content-background: #ffffff; /* Fond du contenu */
  --global-style-bloc-background: #e0e0e0; /* Fond des blocs */
  --global-style-bloc-bloc: #bababa;
  --global-style-text-color: #333333; /* Couleur du texte principal */
  --global-style-border-radius: 15px; /* Border radius pour arrondir les coins */
  --global-style-padding: 20px; /* Padding général */
  --global-style-sidebar-width: 250px; /* Largeur des sidebars */
  --global-style-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour un effet moderne */
  --global-style-margin-centrale: 20px;
  --global-style-button-color: hsl(20, 73%, 54%);
  --global-style-button-color-hover: hsl(20, 73%, 80%);
  --global-style-small-space: 20px;
  --global-style-tiny-space: 5px;
  --global-style-normal-font-size: 15px;
  --global-style-small-font-size: 12px;
  --global-style-big-font-size: 22px;


}

/* Styles généraux */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--global-style-background-color);
}

/* Layout global */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* Main content (contient les 3 zones) */
.main-content-global {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: var(--global-style-padding);
  margin-top: var(--global-style-margin-centrale); /* Pour éviter que le contenu ne soit caché sous le header */
}

/* Sidebar (gauche et droite) */
.sidebar-global {
  width: var(--global-style-sidebar-width);
  background-color: var(--global-style-sidebar-background); /* Sidebars invisibles */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--global-style-padding);
  min-height: calc(100vh - var(--global-style-header-height)); /* Remplir toute la hauteur */
  flex: 1;
}

/* Contenu central */
.content-global {
  flex: 4;
  background-color: var(--global-style-content-background);
  border-radius: var(--global-style-border-radius);
  box-shadow: var(--global-style-box-shadow);
  margin-left: var(--global-style-margin-centrale);
  margin-right: var(--global-style-margin-centrale);
}

/* Bloc dans les sidebars */
.bloc-global {
  background-color: var(--global-style-bloc-background);
  width: 100%;
  padding: var(--global-style-padding);
  margin-bottom: 20px;
  border-radius: var(--global-style-border-radius);
  box-shadow: var(--global-style-box-shadow);
  transition: background-color 0.3s ease;
}

/* Styling pour le bouton dans le bloc */
.bloc-global-button {
  padding: 10px 20px;
  background-color: var(--global-style-button-color);
  color: white;
  border: none;
  border-radius: var(--global-style-border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.bloc-global-button:hover {
  background-color: var(--global-style-button-color-hover);
}

/* SONDAGES */
.gestion_sondage_container{
  margin-top: var(--global-style-small-space);
  display: flex ;
  flex-direction: row-reverse;
}
.gestion_sondage_button{
  all: unset;
  flex: 0;
  cursor: pointer;
}
.sondage_icon_button{
  filter: brightness(0) saturate(100%);
  transition: transform 0.2s ease;
}
.sondage_icon_button:hover{
  transform: scale(1.1);
}
.sondage_reponses_container {
  display: flex;
  flex-direction: column;
  gap: var(--global-style-tiny-space);
}
.sondage_reponse{
  all: unset;
  font-size: var(--global-style-normal-font-size);
  transition: transform 0.2s ease;
  text-align: center;
  background-color: var(--global-style-bloc-bloc);
  padding: var(--global-style-tiny-space);
  border-radius: var(--global-style-border-radius);

}.sondage_reponse:hover{
  transform: scale(1.05);
  cursor:pointer;
}
.sondage_titre{
  color: var(--global-style-secondary-color);
  font-size: var(--global-style-small-font-size);
  font-weight: normal;
}
.sondage_question{
  font-size: var(--global-style-big-font-size);
  font-weight: bold;
}
.sondage_vote_highlight {
  outline: 2px solid black;
}
.sondage_question_stats_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sondage_question_post_vote {
  font-size: var(--global-style-normal-font-size);
}
.sondage_stats_question {
  font-size: var(--global-style-small-font-size);
}
.sondage_progress_bar_empty {
 background: #eee;
 width: 100%;
 height: 20px;
 border-radius: 4px;
}
.sondage_gros_plus_container {
  display: flex;
  justify-content: center;
}
.sondage_gros_plus{
  width: 70px;
  transition: transform 0.2s ease;
}
.sondage_gros_plus:hover{
  transform: scale(1.2);
  cursor: pointer;
}