<!-- templates/base.html -->
<!-- Contient la structure de base commune à toutes les pages -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Portail des Mineurs</title>
    <!-- style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bloc_utilisateur.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bloc_sondages.css') }}">
    <!-- icon dans le navigateur -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <!-- Bandeau header -->
    <header>
        <nav>
            <a href="{{ url_for('index.accueil') }}">Accueil</a>
        </nav>
    </header>

    <div class="main-content">

        <!-- Bandeau de gauche -->
        <aside class="left-sidebar">
            {% include 'blocs_globaux/bloc_sondages.html' %}
        </aside>

        <!-- Contenu principal (défini dans les pages spécifiques) -->
        <main class="content">
            {% block content %}
            <!-- Le contenu spécifique de chaque page sera chargé ici -->
            {% endblock %}
        </main>

        <!-- Bandeau de droite -->
        <aside class="right-sidebar">
            {% include 'blocs_globaux/bloc_utilisateur.html' %}
        </aside>
    </div>

</body>
</html>
