<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    {% if current_user.is_authenticated %}
        <p>Bienvenue, {{ current_user.nom_utilisateur }} !</p>
        <form action="{{ url_for('utilisateurs.deconnexion') }}" method="POST">
            <button type="submit">Se déconnecter</button>
        </form>
    {% endif %}
   
</body>
</html>
