<!-- templates/page_blanche_de_connexion.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Page de Connexion</h1>

    <!-- Afficher un message d'erreur si nécessaire -->
    {% with message = get_flashed_messages()[0] %}
        {% if message %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('utilisateurs.connexion') }}">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Se connecter">
    </form>
</body>
</html>
